* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#habit-holder {
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
}

.habit-element {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.habit-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.days-holder {
  width: 100%;
  border: 1px solid green;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}