:root {
  --border-radius: 10px;
  --light-grey: #F2F2F2;
  --secondary: #7B7B7B;
  --primary: #444444;
  --blue: #007C92;
  --green: #A4D65E;
  --dark-grey: #333333;
  --orange: #D94E1D;
  --dark-orange: #693102;
  --black: #1E1E1E;
  --small-btn-radius: 5px;
  --small-btn-height: 23px;
  --small-btn-width: 45px;
  --font-family: "Sofia Sans Condensed", sans-serif;

}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark-grey);
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
}


#habit-holder {
  min-height: 300px;
  min-width: 500px;
  max-height: 800px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: var(--primary);
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: 9px 19px 61px -3px rgba(0,0,0,0.75);
}

.habit-element {
  min-width: 500px;
  width: 50%;
  max-width: 500px;
  min-height: 250px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border: 3px solid var(--dark-grey);
  border-radius: var(--border-radius);
  background-color: var(--light-grey);
}

.habit-element:hover {
  cursor: pointer;
  border: 3px solid var(--blue);
  transition: 0.2s ease-in-out;
  box-shadow: 9px 19px 61px -3px rgba(0,0,0,0.75);
}

.selected-habit-element {
  border: 3px solid var(--orange);
}

.habit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 20%;
}

.habit-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.habit-month {
  font-weight: bold;
}

.days-of-the-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  place-items: center;
  height: 10%;
}

.day-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

.days-holder {
  width: 100%;
  height: 55%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox {
  height: 50%;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.custom-checkbox:hover {
  cursor: pointer;
  transform: scale(1.5);
  border: 1px solid var(--blue);
}

.checked {
  background-color: var(--orange);
}

.habit-btn-holder {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-habit-btn {
  border: 1px solid var(--secondary);
  border-radius: var(--small-btn-radius);
  height: var(--small-btn-height);
  width: var(--small-btn-width);
  color: black;
  background-color: var(--light-grey);
}

.edit-habit-btn:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.remove-habit-btn {
  border: 1px solid var(--secondary);
  border-radius: var(--small-btn-radius);
  height: var(--small-btn-height);
  width: var(--small-btn-width);
  background-color: var(--light-grey);
  color: black;
}

.remove-habit-btn:hover {
  background-color: var(--orange);
  cursor: pointer;
}

#button-holder {
  width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#add-habit-btn {
  height: var(--small-btn-height);
  width: var(--small-btn-width);
  border-radius: var(--small-btn-radius);
  border: 1px solid var(--secondary);
  background-color: var(--dark-grey);
  color: white;  
  font-family: var(--font-family);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#add-habit-btn:hover {
  cursor: pointer;
  background-color: var(--orange);
}

#view-selector {
  border-radius: var(--small-btn-radius);
  border: 1px solid var(--secondary);
  background-color: var(--dark-grey);
  color: white;
  height: var(--small-btn-height);
}

#view-selector:hover {
  background-color: var(--orange);
  cursor: pointer;
}

/* weekly habit view */
.weekly-habit-card {
  width: 100%;
  max-width: 500px;
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weekly-date-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.weekly-days-holder {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 50%;
  gap: 5px;
}

.weekly-view-day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: var(--secondary);
}

.weekly-dates-holder {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 50%;
  gap: 5px;
  margin-top: 5px;
}

.weekly-date-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: var(--dark-grey);
}

.weekly-habit-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  border-radius: var(--small-btn-radius);
  background-color: white;
  gap: 10px;
}

.weekly-habit-view-title {
  flex: 1;
  font-size: 0.9rem;
  color: var(--dark-grey);
  width: 25%;
}

.weekly-checkbox-holder {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  flex: 2;
  height: 100%;
  width: 50%;
}

.weekly-checkbox {
  height: 20px;
  aspect-ratio: 1;
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.weekly-checkbox:hover {
  border-color: var(--blue);
  transform: scale(1.1);
}

.weekly-checkbox.checked {
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
}

.edit-weekly-habit-btn {
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid var(--secondary);
  border-radius: var(--small-btn-radius);
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.edit-weekly-habit-btn:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.remove-weekly-habit-btn {
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid var(--secondary);
  border-radius: var(--small-btn-radius);
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.remove-weekly-habit-btn:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

/* Yearly Habit Styling */
.year-card {
  border: 1px solid var(--light-grey);
  width: 100%;
  min-height: 700px;
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  padding: 10px;
  box-shadow: 9px 19px 61px -3px rgba(0,0,0,0.75);
  position: relative;
}

.year-view-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.yearly-habit-select {
  border-radius: var(--small-btn-radius);
  border: 1px solid var(--light-grey);
  height: 25px;
  background-color: var(--secondary);
  color: white;
}

.yearly-habit-select:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.year-title {
  font-size: 1.5rem;
}

.months-holder {
  border: 10%;
  height: 700px;
}

.month-card {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.month-title {
  font-size: 1.5rem;
}

.year-view-monthly-days-holder {
  height: 80%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
}

.year-view-day-checkbox {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid black;
  background-color: var(--dark-grey);
}

.year-view-day-checkbox:hover {
  transform: scale(1.2);
  border: 1px solid var(--blue);
  transition: ease-in-out 0.5s;
}

.year-checked {
  background-color: var(--orange);
}

/* Dialog Styling */
#habit-dialog {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary);
}

#close-habit-dialog-btn {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  height: var(--small-btn-height);
  width: var(--small-btn-width);
  border-radius: var(--small-btn-radius);
  color: white;
}

#close-habit-dialog-btn:hover {
  background-color: var(--orange);
  cursor: pointer;
}

#habit-title-input {
  height: 50px;
  background-color: var(--dark-grey);
  border: none;
  color: white;
  padding-left: 10px;
  border-radius: var(--border-radius);
}

#create-habit-btn {
  border: 1px solid var(--secondary);
  border-radius: var(--small-btn-radius);
  background-color: var(--primary);
  color: white;
  height: var(--small-btn-height);
}

#create-habit-btn:hover {
  background-color: var(--blue);
  cursor: pointer;
}

#edit-habit-dialog {
  background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius);
}

#edit-habit-dialog input {
  background-color: var(--dark-grey);
  color: white;
  border: none;
  height: 50px;
  border-radius: var(--border-radius);
}

#edit-habit-dialog button {
  background-color: var(--dark-grey);
  border: 1px solid var(--secondary);
  border-radius: var(--small-btn-radius);
  height: var(--small-btn-height);
  width: var(--small-btn-width);
  color: white;
}

#edit-habit-dialog button:hover {
  cursor: pointer;
}

#save-changes-btn:hover {
  background-color: var(--blue);
}

#close-edit-dialog-btn:hover {
  background-color: var(--orange);
}

/* flame styling */
.month-view-streak-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 1.5rem;
}

.streak-flame {
  height: 75%;
  aspect-ratio: 1;
}

.weekly-streak-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
}

.weekly-btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
}

.year-view-streak-container {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 50px;
  gap: 3px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

/* notice styling */
#notice {
  height: 100px;
  border: 1px solid black;
  width: 250px;
  display: flex;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: none;
  font-size: 0.4rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: var(--secondary);
}

#notice button {
  position: absolute;
  top: 5px;
  left: 5px;
}